<%- include('partials/header'); -%>

<header>
  <div class="lightbulb">
    <img src="/public/lightbulb.jpg" alt="lightbulb" />
  </div>
  <div class="headings">
    <h2>Blog Post</h2>
    <h3>By Zouheir Barhoumi</h3>
    <a href="/posts" class="btn">View Posts</a>
  </div>
</header>

<%- include('partials/footer'); -%>
