<%- include('partials/header'); -%>

<form>
  <h2>Log in</h2>
  <label for="email">Email</label>
  <input type="email" name="email" required aria-required="true" />
  <div class="email error"></div>
  <label for="password">Passowrd</label>
  <input type="password" name="password" required aria-required="true" />
  <div class="password error"></div>
  <button>Log in</button>
</form>

<script>
  const form = document.querySelector("form");
  const emailErr = document.querySelector(".email.error");
  const passwordErr = document.querySelector(".password.error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // reset
    emailErr.textContent = "";
    passwordErr.textContent = "";

    // get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch("/login", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailErr.textContent = data.errors.email;
        passwordErr.textContent = data.errors.password;
      }
      if (data.user) {
        // redierct
        location.assign("/");
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>

<%- include('partials/footer'); -%>
