<%- include('partials/header'); -%>

<ul class="posts">
  <li class="post">
    <img src="/brain.webp" alt="brain" />
    <h4>The waves of time wash us all clean</h4>
    <p>
      Small though it is, the human brain can be quite effective when working at
      full efficiency, not unlike myself! Rest is for the weary, sleep is for
      the dead. I feel like a hungry man eager for the feast! The waves of time
      wash us all clean. This is a situation that requires tact and finesse.
      Fortunately, I am blessed with both. You were expecting someone else? My
      last incarnation…oh, I was never happy with that one. It had a sort of
      feckless 'charm' which simply wasn't me. Did I? It must be the carrot
      juice making me colour blind!
    </p>
  </li>
  <li class="post">
    <img src="/brain.webp" alt="brain" />
    <h4>A knight of the GRAND ORDER OF OBERON!</h4>
    <p>
      Only I would be stupid enough to attack such a person! Planets come and
      go. Stars perish. Matter disperses, coalesces, forms into other patterns,
      other worlds. Nothing can be eternal. I think it's time to find your
      Achilles heel, or should I say - flipper. Did I? It must be the carrot
      juice making me colour blind! This is a situation that requires tact and
      finesse. Fortunately, I am blessed with both. My last incarnation…oh, I
      was never happy with that one. It had a sort of feckless 'charm' which
      simply wasn't me.
    </p>
  </li>
  <li class="post">
    <img src="/brain.webp" alt="brain" />
    <h4>Planets come and go.</h4>
    <p>
      Stars perish. Matter disperses, coalesces, forms into other patterns,
      other worlds. Nothing can be eternal. Change, my dear. And it seems not a
      moment too soon. I think it's time to find your Achilles heel, or should I
      say - flipper. Boring. And I hate hotels. A little gratitude wouldn't
      irretrievably damage my ego. My last incarnation…oh, I was never happy
      with that one. It had a sort of feckless 'charm' which simply wasn't me. A
      knight of the GRAND ORDER OF OBERON! Only I would be stupid enough to
      attack such a person!
    </p>
  </li>
  <li class="post">
    <img src="/brain.webp" alt="brain" />
    <h4>Rest is for the weary, sleep is for the dead.</h4>
    <p>
      I feel like a hungry man eager for the feast! Dreams are important…never
      underestimate them. There's always something to look at if you open your
      eyes! It's times like this I wish I still had my scarf. Well, I'm still
      not the man I used to be… thank goodness. Well, it wouldn't be cricket.
      Adric? Safety precaution. I'm allergic to certain gases in the praxis
      range of the spectrum. If the gas is present, the celery turns purple… I
      eat the celery. If nothing else, I'm sure it's good for my teeth. Oh,
      marvellous. You're going to kill me. What a finely tuned response to the
      situation. lives are spent.
    </p>
  </li>
  <li class="post">
    <img src="/brain.webp" alt="brain" />
    <h4>
      The path of the righteous man is beset on all sides by the iniquities of
      the selfish and the tyranny of evil men
    </h4>
    <p>
      The path of the righteous man is beset on all sides by the iniquities of
      the selfish and the tyranny of evil men. Blessed is he who, in the name of
      charity and good will, shepherds the weak through the valley of darkness,
      for he is truly his brother's keeper and the finder of lost children. And
      I will strike down upon thee with great vengeance and furious anger those
      who would attempt to poison and destroy My brothers.
    </p>
  </li>
  <li class="post">
    <img src="/brain.webp" alt="brain" />
    <h4>Zombies reversus ab inferno, nam malum cerebro.</h4>
    <p>
      Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De
      carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel
      maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi
      mindless mortuis soulless creaturas, imo evil stalking monstra adventus
      resi dentevil vultus comedat cerebella viventium. Qui animated corpse,
      cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh
      eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum
      oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.
      Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
    </p>
  </li>
</ul>

<%- include('partials/footer'); -%>
