@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;1,300;1,700&family=Frank+Ruhl+Libre:wght@300;400;500;700&display=swap");

/* VARIABLES */
:root {
  --space-lg: 5rem;
  --space-md: 2.5rem;
  --space-sm: 1.5rem;

  /* colors */
  --color-primary-dark: #332e2c;
  --color-primary-yellow: #f0cd69;
  --color-off-white: #f9f9f9;
  --color-secondary-dark: #222f3e;
  --color-secondary-yellow: #feca57;
  --color-grey: #96a5ad;
  --color-danger: #ff5050;
}
/* END OF VARIABLES */

/* RESETS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px = 62.5% of browser's default font-size (16px) */
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

a:visited {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Frank Ruhl Libre", sans-serif;
  /* font-size: 1.1em; */
}
/* END OF RESETS */

html {
  color: var(--color-secondary-dark);
}
body {
  background: var(--color-off-white);
  margin: 2rem 4rem;
  font-size: 1.9rem;
  /* letter-spacing: 1px; */
}
h1 {
  font-size: 5.2rem;
}
h2 {
  font-size: 3.74rem;
}
h3 {
  font-size: 2.7rem;
}
h4 {
  font-size: 2rem;
}
/* img {
  width: 100%;
  height: 100%;
} */

nav {
  margin-bottom: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  margin-left: 2rem;
}
nav li a {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 1rem 1.6rem;
  letter-spacing: 1px;
}
.btn {
  background: var(--color-primary-yellow);
  border-radius: 3.6rem;
}

form h2 {
  /* font-size: 2.4em; */
  font-weight: 800;
  margin-bottom: 4rem;
}
form {
  width: 36rem;
  margin: 0 auto;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background: #fff;
}

input {
  padding: 1rem 1.2rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}

label {
  display: block;
  margin: 2rem 0 1rem;
}

button {
  margin-top: 3rem;
  border-radius: 3.6rem;
  background: var(--color-secondary-yellow);
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 1rem 1.6rem;
  letter-spacing: 1px;
}

.error {
  color: var(--color-danger);
  margin: 1rem 2px;
  font-size: 0.8em;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
}

header img {
  width: 25rem;
  margin-right: 4rem;
}

header h2 {
  /* font-size: 3rem; */
}
header h3 {
  /* font-size: 1.6em; */
  margin-bottom: 1rem;
  margin-left: 2px;
  color: var(--color-grey);
}

header .btn {
  margin-top: 2rem;
  padding: 1.2rem 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 8rem;
  margin: 8rem auto;
  min-width: 120rem;
}
.post {
  display: inline-block;
  border-radius: 2rem;
  background: #fff;
  position: relative;
  text-align: center;
  padding: 0 2rem 3rem 2rem;
}

.post img {
  width: 10rem;
  margin: -3rem auto 2rem;
}
footer {
  text-align: center;
  margin-top: 12rem;
  color: var(--color-grey);
}
